<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #000000;
        }
        section{
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 90vh;
        }
        a{
            background-color:#c8592b ;
            border: none;
            font-weight: bold;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 25px;
            margin: 4px 2px;
            cursor: pointer;
        }
        a:hover {
            background-color:#f08787;
            color: white;
        }
        .kdi{
            font-size: 40px;
        }
        .data{
            color: #c8592b;
        }
        h1{
            color: white;
        }
    </style>
    <title>Klikpasien API</title>
</head>
<body>
    <section>
        <h1><span><i>Dana Desa Rest Api Server..!</i></span><br><br>       
        <a href="/api-docs">Go to Documentation</a>
    </section>
</body>
</html>
